### AL ###
# Папки сборки
bin/
obj/

# Файлы студии
*.user
*.suo
*.sln.docstates

# Локальные базы данных
*.mdf
*.ldf

# Сгенерированные EF-файлы
**/model/*.csdl
**/model/*.ssdl
**/model/*.msl

# Конфигурационные файлы с локальными настройками
**/app.config

# Другие временные файлы
*.log
*.tmp
